/* Estilos personalizados para las tarjetas */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}

/* Estilos personalizados para el navbar */

.navbar-brand {
  font-size: 24px;
  font-weight: bold;
}

.nav-link {
  font-size: 16px;
}
.carousel-caption {
  color: black !important
}
.carousel-item img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}
.card.no-image {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card.no-image .card-text {
  text-align: center;
}



  @import '../node_modules/bootstrap/scss/bootstrap.scss';
  